.container {
    width: 70%;
    min-height: auto;
    margin: 35px auto;
    background-color: #1e282d;
    display: flex;
    gap: 10px;
    padding: 15px;
}

.container-left {
    width: calc(25% - 10px);
    padding: 15px;
    background-color: #222526;
    color: #fff;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsl(0deg 0% 90% / 12%);
    border: 1px solid hsl(0deg 0% 90% / 13%);
}



.category-heading {
    margin-bottom: 55px;
    color: var(--second-color);
    text-align: center;
}

.category-item {
  
    padding: 5px 30px;
    margin: 30px 0;
    background: #ff0000;
    height: 50px;
    border-radius: 40px;
}

  

.container-right {
    width: calc(75% - 10px);
    padding: 15px 15px 100px 15px;
    background-color: #222526;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px hsl(0deg 0% 90% / 12%);
    border: 1px solid hsl(0deg 0% 90% / 13%);
}

.movie-card {
    width: calc(25% - 10px);
    min-height: 395px;
    padding: 15px;
    background-color: #0C1012;
    color: #fff;
    text-align: center;
    border-radius: 10px;
}

.movie-name {
    color: var(--second-color);
    margin: 8px;
    font-size: 13px;
}

.movie-action {
    margin-top: 20px;
}

.movie-srg {
    margin: 5px 0;
}

.movie-rate {
    color: #fff;
    padding: 8px;
    border: 1px solid var(--second-color);
    border-radius: 10px;
    background-color: var(--second-color);
    margin-bottom: 5px;
}

.movie-image img {
    object-fit: cover;
    border-radius: 10px;
}

.movie-rate:hover {
    opacity: 0.865;
}
