﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container">
    <div class="user-create">
        <span class="user-heading">USER MANAGEMENT</span>
    </div>
    <div class="order-info__table">
        <table>
            <thead>
                <tr>
                    <th>GenreId</th>
                    <th>Description</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.genres)
                {
                    <tr>
                        <td>@item.GenreId</td>
                        <td><input value="@item.Description"></td>
                        @using System.Net

                        

                        <td>
                            <a href="/Cate/Update?id=@item.GenreId&descript=@item.Description" style="color:white;" class="sidebar-link">Update</a>
                        </td>
                        <td><a href="/Cate/Delete" class="sidebar-link" style="color:white;">Delete</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>